<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/Metadata :: metaData(pageTitle='Step 3.')}"></head>
<script>
    window.onload = () => {
        let data = getData();
        data.step3.visited = true;
        setData(data);
    };
</script>
<body>

<header th:replace="~{fragments/header :: header-title}"></header>

<div class="duo-container">
    <div class="duo-item duo-imgs">
        <img th:src="@{../img/phone_charged.png}">
        <a class="img-source" href='https://pngtree.com/so/illustration'>Image Source</a>
    </div>
    <div class="duo-item duo-text">
        <h2>Step 3.) Wait</h2>
        <hr style="width: 100%; background-color: black;">
        <p>
            Congratulations, your device is now charging! Check in periodically to see if it's finished.
        </p>
        <p><b>Reset the Tutorial by clicking the refresh button found at the top of the page.</b></p>
        <p>
            <em>Tip: Most phones can be fully charged within two hours.</em>
        </p>
    </div>
</div>

<footer th:replace="~{fragments/footer :: footer-nav}"></footer>

</body>
</html>