<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:replace="~{fragments/Metadata :: metaData(pageTitle='Step 1.')}"></head>
<body>
<header th:replace="~{fragments/header :: header-title}"></header>

<div class="duo-container">
    <div class="duo-item">
        <img style="object-fit: contain" th:src="@{../img/devices.png}">
        <div style="display: block">
            <img th:src="@{../img/phone_charger.png}">
            <a class="img-source" href='https://pngtree.com/so/Vector'>Image Source</a>
        </div>
    </div>
    <div class="duo-item">
        <h2>Step 1.</h2>
        <hr>
        <p>The list below indicates what you will need in order to charge your phone:</p>
        <ul>
            <li>Your Phone/Mobile Device.</li>
            <li>A Charger compatible with your device.</li>
        </ul>
    </div>
</div>

<footer th:replace="~{fragments/footer :: footer-nav}"></footer>
</body>
</html>`