<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:replace="~{fragments/Metadata :: metaData(pageTitle='Step 2.')}"></head>
<script>
    window.onload = () => {
        let chargerPlugged = $('#chargerPlugged');
        let devicePlugged = $('#devicePlugged');

        chargerPlugged.prop('checked', getData().step2.chargerIsPlugged);
        devicePlugged.prop('checked', getData().step2.deviceIsPlugged);

        chargerPlugged.click(function() {
            let data = getData();
            data.step2.chargerIsPlugged = this.checked;
            setData(data);
        });

        devicePlugged.click(function() {
            let data = getData();
            data.step2.deviceIsPlugged = this.checked;
            setData(data);
        });

    };
</script>
<body>
<header th:replace="~{fragments/header :: header-title}"></header>

<div class="duo-container">
    <div class="duo-item duo-imgs">
        <img th:src="@{../img/phone_plugged_in.png}">
        <a class="img-source" href="https://lovepik.com/images/png-black-electrician.html">Image Source</a>
    </div>
    <div class="duo-item duo-text">
        <h2>Step 2.) Plug In</h2>
        <hr style="width: 100%; background-color: black;">
        <ol class="formatted-list">
            <li>
                <input type="checkbox" id="chargerPlugged" name="chargerPlugged" value="chargerIsPlugged">
                <label for="chargerPlugged">Plug the charger into an outlet.</label>
            </li>
            <li>
                <input type="checkbox" id="devicePlugged" name="devicePlugged" value="deviceIsPlugged">
                <label for="devicePlugged">Take other end of charger coming from the wall outlet adapter and insert it into the port generally located on the bottom of your device.</label>
            </li>
        </ol>
    </div>
</div>

<footer th:replace="~{fragments/footer :: footer-nav}"></footer>
</body>
</html>