<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:replace="~{fragments/Metadata :: metaData(pageTitle='Step 3.')}"></head>
<body>
<header th:replace="~{fragments/header :: header-title}"></header>

<div class="duo-container">
    <div class="duo-item duo-imgs">
        <img th:src="@{../img/phone_charged.png}">
        <a class="img-source" href='https://pngtree.com/so/illustration'>Image Source</a>
    </div>
    <div class="duo-item duo-text">
        <h2>Step 3.) Wait</h2>
        <hr style="width: 100%; background-color: black;">
        <p>
            Congratulations, your device is now charging! Check in periodically to see if its finished. Most phones can be fully charged within two hours.
        </p>
    </div>
</div>

<footer th:replace="~{fragments/footer :: footer-nav}"></footer>
</body>
</html>