<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:replace="~{fragments/Metadata :: metaData(pageTitle='Step 1.')}"></head>
<body>
<header th:replace="~{fragments/header :: header-title}"></header>

<div class="duo-container">
    <div class="duo-item duo-imgs">
        <img th:src="@{../img/phone_and_charger.png}">
        <a class="img-source" href='https://pngtree.com/so/Three'>Image Source</a>
    </div>
    <div class="duo-item duo-text">
        <h2>Step 1.) Gather What's Needed</h2>
        <hr style="width: 100%; background-color: black;">
        <p>The list below indicates what you will need in order to charge your phone:</p>
        <ul class="formatted-list">
            <li>Your Phone/Mobile Device.</li>
            <li>A Charger compatible with your device.</li>
        </ul>
    </div>
</div>

<footer th:replace="~{fragments/footer :: footer-nav}"></footer>
</body>
</html>