<footer th:fragment="footer-nav">
  <script th:inline="javascript">
    function getData() {
      return JSON.parse(localStorage.getItem("PhoneChargingTutorial"));
    }

    function animate() {
      let s1 = getData().step1;
      if((!s1.hasDevice || !s1.hasCharger)) {
        $('#Step-2').addClass('disabled-step');
      } else $('#Step-2').removeClass('disabled-step');

      let s2 = getData().step2;
      if(!s2.chargerIsPlugged || !s2.deviceIsPlugged) {
        $('#Step-3').addClass('disabled-step');
      } else $('#Step-3').removeClass('disabled-step');

      requestAnimationFrame(animate);
    }

    $(document).ready(function() {
      let id = document.title.replace(" ", "-").replace(".", "");
      $("#" + id).addClass('current-page');

      $("#Step-2").click(function(e) {
        let s1 = getData().step1;
        if((!s1.hasDevice || !s1.hasCharger)) {
          e.preventDefault();
          alert("Please proceed to Step 1 or check that all checkboxes are marked to continue.");
        }
      });

      $("#Step-3").click(function(e) {
        let s2 = getData().step2;
        if(!s2.chargerIsPlugged || !s2.deviceIsPlugged) {
          e.preventDefault();
          alert("Please proceed to Step 1 or check that all checkboxes are marked to continue.");
        }
      });

      animate();
    });
  </script>
  <nav id="steps_nav">
    <ul>
      <li><a id="Step-1" th:href="@{/steps/1}">Step 1.</a></li>
      <li><a id="Step-2" th:href="@{/steps/2}">Step 2.</a></li>
      <li><a id="Step-3" th:href="@{/steps/3}">Step 3.</a></li>
    </ul>
  </nav>
</footer>
